@import "@material/typography/mixins";

@import "../../styles/mixins";
@import "../../styles/theme";

.stats {

    .current-week,
    .weeks-navigation {
        .header {
            @include center-bold;
        }
    }

    .current-week .win-banner {
        display: block;
        width: 100%;
        padding: 1rem;
        text-align: center;

        @mixin win-banner($color) {
            color: #ffffff;
            background-color: $color;
        }

        &.red {
            @include win-banner(map-get($button-colors, red));
        }

        &.blue {
            @include win-banner(map-get($button-colors, blue));
        }

        &.green {
            @include win-banner(map-get($button-colors, green));
        }

        &.yellow {
            @include win-banner(map-get($button-colors, yellow));
        }
    }

    .weeks-navigation {
        margin-top: 2rem;

        ul li {
            display: inline-block;
            padding: 0 16px;

            a {
                @include mdc-typography(button);
                display: inline-block;
                color: $mdc-theme-primary;
                height: $navigation-height;
                line-height: $navigation-height;
                text-decoration: none;

                &:hover,
                &:focus {
                    color: darken($mdc-theme-primary, 7.5%);
                }

                &.active {
                    text-decoration: underline;
                }
            }
        }
    }
}